$flag-icons-path: '~flag-icons/flags';
$app-asset-path: '~/assets/';

@import "~flag-icons/sass/flag-icons";
@import "map/map";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #30303d;
  font-family: Candara, serif;
  color: #fff;

  &.disabled {
    background-color: #000;
  }
}

.modal__content-list--wordwrapped {
  word-wrap: anywhere;
}

.coin-icon {
  background-image: url($app-asset-path + 'coin.svg');
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  line-height: 1em;
  width: 1.3333333333em;

  &:before {
    content: '\00a0';
  }

  @media (min-width: 992px) {
    width: 1em;
  }
}

/** amcharts overrides */
.ampopup-close {
  background-color: #67b7dc !important;
}

.ampopup-inside {
  h3:first-child {
    margin-top: 0;
  }
}

.ampopup-title {
  .ampopup-title--wrapper {
    .ampopup-title--inner {
      white-space: nowrap;
    }
  }
}