$flag-icon-css-path: '~flag-icon-css/flags';

@import "~flag-icon-css/sass/flag-icon";
@import "map/map";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #30303d;
  font-family: Candara, serif;
  color: #fff;

  &.disabled {
    background-color: #000;
  }
}

.modal__content-list--wordwrapped {
  word-wrap: anywhere;
}

/** amcharts overrides */
.ampopup-close {
  background-color: #67b7dc !important;
}